$primary-color: hsl(322, 100%, 66%);
$neutral-very-dark-cyan: hsl(192, 100%, 9%);
$neutral-very-pale-blue: hsl(207, 100%, 98%);
$faded-white: #888;
$font-heading: 'Poppins', sans-serif;
$font-body: 'Open Sans', sans-serif;
$breakpoint-desktop: 1440px;

*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $font-body;
  font-size: 16px;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: $font-heading;
  font-weight: 700;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

main {
  text-align: center;
}

footer {
  background-color: $neutral-very-dark-cyan;
  color: $neutral-very-pale-blue;
  position: relative;
  margin-top: 130px;
  padding: 7%;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: -53px;
    height: 53px;
    width: 100%;
    background: url("../images/bg-footer-top-mobile.svg") no-repeat;

  }
  @media screen and (min-width: $breakpoint-desktop) {
    margin-top: 280px;
    &:before {
      top: -158px;
      height: 158px;
      background: url('../images/bg-footer-top-desktop.svg') no-repeat;
    }
  }
}

.btn {
  background: none;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: 1rem;

  &:focus {
    outline: none;
  }
}

.primary-btn {
  background: $primary-color;
  color: $neutral-very-pale-blue;
  font-weight: 600;
  box-shadow: 0 3px 5px rgba(0,0,0,0.4);
  padding: 1rem 2.3rem;
  margin-top: 30px;
  min-width: 25%;
  transition: all 0.5s;
  // margin: 30px auto 100px;

  &:hover {
    background: $neutral-very-pale-blue;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}
