@use 'base';

.call-to-action-header {
  padding: 7%;

  p {
    max-width: 500px;
    margin: 0 auto;
  }
}

.main-img {
  padding: 7%;
  @media screen and (min-width: base.$breakpoint-desktop) {
    padding: 0 7%;
  }
}

.values {
  .values_card {
    padding: 30px 0;
    width: 170px;
    margin: 60px auto;

    .values_card__title {
      font-weight: 400;
      margin: 0;
      padding: 0;
      font-size: 4rem;
    }

    .values_card__description {
      color: base.$faded-white;
      margin: 0;
    }
  }

  .communities {
    background: url("../images/icon-communities.svg") no-repeat;
    background-size: 2rem;
  }

  .messages {
    background: url("../images/icon-messages.svg") no-repeat;
    background-size: 2rem;

    .values_card__title {
      font-size: 3.4rem;
    }
  }
  @media screen and (min-width: base.$breakpoint-desktop) {
    display: flex;

    .values_card {
      width: auto;

      .values_card__title {
        font-size: 5rem;
      }
    }

    .communities {
      background-size: 2.5rem;
      margin-right: 20px;
    }

    .messages {
      background-size: 2.5rem;
    }

    .values_card__description {
      font-size: 1.2rem;
    }
  }
}

.cards {
  .card {
    padding: 15% 7%;
    background: base.$neutral-very-pale-blue;

    &:first-of-type {
      margin: 130px 0;
      position: relative;
    }

    &:first-of-type:before {
      content: '';
      position: absolute;
      left: 0;
      top: -112px;
      width: 100%;
      height: 112px;
      background: url("../images/bg-section-top-mobile-1.svg") no-repeat;
      @media screen and (min-width: base.$breakpoint-desktop) {
        top: -139px;
        height: 139px;
        background: url("../images/bg-section-top-desktop-1.svg") no-repeat;
      }
    }

    &:first-of-type:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -52px;
      width: 100%;
      height: 52px;
      background: url("../images/bg-section-bottom-mobile-1.svg") no-repeat;
      @media screen and (min-width: base.$breakpoint-desktop) {
        bottom: -139px;
        height: 139px;
        background: url("../images/bg-section-bottom-desktop-1.svg") no-repeat;
      }
    }

    &:last-of-type {
      margin: 130px 0 150px;
      position: relative;
    }

    &:last-of-type:before {
      content: '';
      position: absolute;
      left: 0;
      top: -103px;
      width: 100%;
      height: 103px;
      background: url("../images/bg-section-top-mobile-2.svg") no-repeat;
      @media screen and (min-width: base.$breakpoint-desktop) {
        top: -156px;
        height: 156px;
        background: url("../images/bg-section-top-desktop-2.svg") no-repeat;
      }
    }

    &:last-of-type:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -101px;
      width: 100%;
      height: 101px;
      background: url("../images/bg-section-bottom-mobile-2.svg") no-repeat;
      @media screen and (min-width: base.$breakpoint-desktop) {
        bottom: -139px;
        height: 139px;
        background: url("../images/bg-section-bottom-desktop-2.svg") no-repeat;
      }
    }

    @media screen and (min-width: base.$breakpoint-desktop) {
      padding: 5% 7%;
      text-align: left;
      display: grid;
      grid-column-gap: 15%;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      &:last-of-type {
        margin-top: 15%;
      }

      &:first-of-type, &:last-of-type {
        .card-img {
          order: 1;
        }
      }
    }
  }

  .card-white {
    background: none;
  }
}

@media screen and (min-width: base.$breakpoint-desktop) {
  .call-to-action-bottom {
    margin-top: 20%;
  }
}
